1. Explain the key features of Python that make it a popular choice for programming

Python is popular for its simplicity, readability, and ease of use, making it beginner-friendly. Its versatility allows it to be used in various domains like web development, data analysis, AI, and automation. Python's extensive standard library and a vast ecosystem of third-party packages accelerate development. Additionally, its strong community support and cross-platform compatibility make it a go-to language for many developers.

2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program

Predefined keywords in Python are reserved words that have special meanings and are used to define the syntax and structure of the language. They cannot be used as identifiers (like variable names) because they perform specific functions.
Examples include:
•	if: Used for conditional statements.
•	for: Used to create loops.
•	def: Used to define functions.
•	import: Used to include external modules.
Example usage in a program:

In [2]:
def greet(name):   # 'def' defines a function
    if name:       # 'if' checks a condition
        return f"Hello, {name}!"
    else:
        return "Hello, World!"

for i in range(3):  # 'for' creates a loop
    print(greet("Python"))

Hello, Python!
Hello, Python!
Hello, Python!

3. Compare and contrast mutable and immutable objects in Python with examples

In Python, mutable objects can change their content without changing their identity, while immutable objects cannot be changed after they are created.
•	Mutable objects: You can modify their elements or properties after creation.
    o Example: Lists are mutable.

In [3]:
my_list = [1, 2, 3]
my_list[0] = 10  # You can change the first element to 10

In [4]:
my_list

[10, 2, 3]

•	Immutable objects: Once created, their content cannot be altered.
    o Example: Tuples and strings are immutable.

In [5]:
my_tuple = (1, 2, 3)
my_tuple[0] = 10  # This will cause an error, because you can't change tuple elements

TypeError: 'tuple' object does not support item assignment

With mutable objects, you can change them directly (like adding, removing, or updating items in a list). But with immutable objects, you have to create a new object if you want a different value.

4. Discuss the different types of operators in Python and provide examples of how they are used

In Python, operators are symbols that perform operations on values or variables. There are several types:
1.	Arithmetic Operators: Used for basic math:

In [10]:
print(3 + 2 )
print(3 - 2 )
print(3 * 2 )
print(6 / 2 )
print(5 % 2 )

5
1
6
3.0
1

2.	Comparison Operators: Compare values, returning True or False.

In [11]:
print(3 == 3 )
print(3 != 2 )
print(5 > 3 )
print(5 >= 3 )
print(2 < 4 )
print(2 <= 4)

True
True
True
True
True
True

3.	Logical Operators: Combine conditional statements.
-	and: True and False is False
-	or: True or False is True
-	not: not True is False

4.	Assignment Operators: Assign values to variables.
-	= : x = 5 assigns 5 to x
-	+= : x += 2 adds 2 to x (same as x = x + 2)

5.	Membership Operators: Check if a value is in a sequence.
-	in : 'a' in 'apple' is True
-	not in : 'b' not in 'apple' is True

6.	Identity Operators: Check if two objects are the same.
-	is : x is y checks if x and y are the same object.
-	is not : x is not y checks if x and y are different objects

5. Explain the concept of type casting in Python with examples

Type casting in Python means converting a value from one data type to another. This is helpful when you need to change how data is treated.
Examples:
1.	Convert an integer to a string:

In [14]:
num = 42
num_str = str(num)  # Converts 42 to "42"
num_str

'42'

This is useful when you want to combine numbers with text.
2.	Convert a string to an integer:

In [15]:
num_str = "100"
num = int(num_str)  # Converts "100" to 100
num

100

Use this when you need to perform math on a number that was stored as text.
3.	Convert a float to an integer:

In [16]:
num_float = 3.14
num_int = int(num_float)  # Converts 3.14 to 3 (truncates decimal part)
num_int

3

This removes the decimal part, giving you just the whole number.
4.	Convert a list to a set:

In [17]:
my_list = [1, 2, 2, 3]
my_set = set(my_list)  # Converts [1, 2, 2, 3] to {1, 2, 3} (removes duplicates)
my_set
#This is useful when you want to remove duplicates from a list.

{1, 2, 3}

6. How do conditional statements work in Python? Illustrate with examples

Conditional statements in Python let you make decisions in your code based on certain conditions. The most common conditional statements are if, elif, and else.
How they work:
•	if: Checks if a condition is True. If it is, the code inside the block runs.
•	elif: (short for "else if") Checks another condition if the previous if was False.
•	else: Runs if all the above conditions are False.
Example:

In [19]:
age = 20
if age < 18:           # Checks if age is less than 18
    print("You're a minor")
elif age < 65:         # Checks if age is less than 65 (but greater than or equal to 18)
    print("You're an adult")
else:                  # If none of the above conditions are met
    print("You're a senior")

You're an adult

Explanation:
•	If age is less than 18, it prints "You're a minor."
•	If age is between 18 and 64, it prints "You're an adult."
•	If none of these are true, it prints "You're a senior."

7. Describe the different types of loops in Python and their use cases with examples.

In Python, loops are used to repeat a block of code multiple times. The main types are for and while loops.
1. for loop:
Used to iterate over a sequence (like a list, string, or range). When you know the number of times you want to repeat something.
Example:

In [21]:
for i in range(3):  # Loops 3 times (i = 0, 1, 2)
    print("Hello")
# This prints "Hello" three times.

Hello
Hello
Hello

2. while loop:
Keeps looping as long as a condition is True. When you don’t know exactly how many times the loop will run (e.g., waiting for user input).
Example:

In [22]:
count = 0
while count < 3:  # Loops as long as count is less than 3
    print("Hello")
    count += 1  # Increases count by 1 each time
# This also prints "Hello" three times, but it stops when count reaches 3.

Hello
Hello
Hello

Then there are Break and Continue: “break” : Stops the loop early. “Continue”: Skips the current loop iteration and moves to the next one.

In [23]:
for i in range(1, 10):
    # If the number is 5, skip the rest of the loop and go to the next iteration
    if i == 3:
        print(f"Skipping number {i} using continue")
        continue
    
    # Print the current number
    print(f"Number: {i}")
    
    # If the number is 8, exit the loop
    if i == 5:
        print(f"Breaking the loop at number {i}")
        break

Number: 1
Number: 2
Skipping number 3 using continue
Number: 4
Number: 5
Breaking the loop at number 5